*/{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image:url(https://images.pexels.com/photos/4068339/pexels-photo-4068339.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;    
}
header{
    height: 120px;
    color: rgb(248, 251, 253);
    background-color: rgba(255, 0, 242, 0.418);
    display:block;
    align-items: center;
    justify-content: center;
    margin: 5px;    
}
h1{
    font-style: italic;
    font-size: 50px;   
    text-align: center;
    margin-top: 25px;
    
}
p{
    font-style: italic;
    font-size: 25px;
    text-align: center;
}

.accordion{
    background-color: rgb(183, 0, 255);
    border: solid 1px rgb(146, 16, 103);
}
.container hr{
    border: solid 2px rgb(139, 23, 185);
    opacity: 1;
}
 
.fondo{
    background-color: rgba(0, 0, 0, 0.500); 
}